body {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    min-height: 99vh;
}

nav {
    background-color: #BCCCDC;
    display: flex;
    justify-content: space-between;
}

ul li.nav-bar-list {
    display: inline-block;
}

.nav-list {
    gap: 20px;
    list-style-type: none;
    margin-right: 10px;
}

.nav-brand {
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.self-image {
    float: left;
    margin-top: 10px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: Black;
    padding: 5px;
}

a:hover {
    color: orangered;
}

.main {
   display: grid;
   margin: 0px 20px 0px 20px;
   grid-template-columns: 1fr 1fr;
   height: 90vh;
   gap: 20px;
}

.self {
    background-color: #F2F9FF;
    color: black;
    border-radius: 20px;
}

.self-image {
    height: 160px;
    width: 150px;
    border-radius: 50%;
    position: static;
    margin-left: 20px;
    margin-right: 20px;
}

.orange-red {
    color: orangered;
}

.bold {
    font-weight: bold;
}

.skills-card {
    background-color: #FFCCE1;
    border-radius: 20px;
}

.self, .skills-card {
    height: 600px;
}

.skills-h2 {
    text-decoration: underline;
    margin-left: 10px;
}

@media (max-width: 680px) {

    nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-list {
        gap: 5px;
    }
    

    h2 {
        font-size: 1rem;
    }

    .main {
        display: flex;
        flex-direction: column;
        margin: 0px 10px 0px 10px;
    }

    .self, .skills-card {
        height: 100%;
    }
}
